<manifest ...>

    <!-- Permissions -->
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- AR Feature Requirement -->
<uses-feature android:name="android.hardware.camera.ar" android:required="true" />

<application ...>

    <!-- Google Maps API Key -->
<meta-data
android:name="com.google.android.geo.API_KEY"
android:value="${AIzaSyBFdPD-1g83wdsAk_LH6tN8WsHUN0tAe-M" />

    <!-- ARCore Requirement -->
<meta-data android:name="com.google.ar.core" android:value="required" />

<activity ... > ... </activity>

    </application>
    </manifest>
